[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
voting_app = "nWQ6uXRz9VRLbHwWD2WyaHULWgMrWGLSFi4TuEC3qmX" 

[programs.devnet]
voting_app = "nWQ6uXRz9VRLbHwWD2WyaHULWgMrWGLSFi4TuEC3qmX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
